ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header, div, footer{
		border: 1px solid black;
		font-family: sans-serif;
	}
header, footer {
		text-align: center;
	}
body{
		background-color: lightskyblue;
}
img {
	float: left;
}